.hidden {
  display: none;
}

.home-header1 {
  font-size: 64px;
  border-bottom: solid 1px $gray-400;
}

.home-header2 {
  font-size: 48px;
  margin-top: 30px;
  color: $gray-700;
}

.home-nav-btn {
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
}

.btn-navigation {
  font-size: 48px;
  margin: 10px 35px 10px 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-checker {
  font-size: 48px;
  padding-left: 30px;
  padding-right: 30px;
}

#homepage-estimator {
  position: relative;
  font-size: 48px;
  margin-top: 50px;
  padding-right: 20px;
  border: solid 1px $gray-400;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 1px 10px $gray-300;
}


.home-input-estimator {
  border-style: solid;
  border-color: $blue;
  text-align: right;
  padding-right: 10px;
  color: $gray-700;
}

.estimator-fields {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}

#estimator-content {
  margin-bottom: 100px;
}

#estimator-checker-btn {
  font-size: 48px;
}

#estimator-checker {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#action-estimator {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  border-bottom: solid 1px $gray-400;
}

#action-title-estimator {
  font-size: 56px;
}

.description-estimator {
  color: $gray-700;
}

.selected-estimator {
  color: $blue;
  font-weight: bolder;
  border-bottom: solid 1px $blue;
}

.label-estimator {
  color: $gray-700;
  font-size: 48px;
}
