.hidden {
  display: none;
}

.home-header-content {
  padding: 40px 15px;
  background-size: cover;
}

.home-header1 {
  font-size: 62px;
  color: white;
  border-bottom: solid 1px white;
  padding-bottom: 10px;
}

.home-header2 {
  font-size: 42px;
  color: white;
  margin-top: 30px;
  padding: 20px 0px;
}

.home-header3 {
  font-size: 62px;
  color: $blue;
  padding: 50px 0px 0px 15px;
}

.home-nav-btn {
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px}

.btn-navigation {
  font-size: 48px;
  margin: 10px 35px 10px 0px;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-checker {
  font-size: 48px;
  padding-left: 30px;
  padding-right: 30px;
}

#homepage-estimator {
  position: relative;
  font-size: 48px;
  border: solid 1px $gray-400;
  border-radius: 20px;
  box-shadow: 1px 1px 20px $gray-300;
  margin: 50px 20px;
  padding: 20px;
  padding-bottom: 50px;
}

.home-input-estimator {
  border-style: solid;
  border-radius: 40px;
  border-color: $blue;
  text-align: right;
  padding-right: 30px;
  color: $gray-700;
  width: 475px;
}

.home-input-estimator:focus {
  outline: none !important;
  border: solid 1px $yellow;
  box-shadow: 1px 1px 15px $yellow;
}

.estimator-fields {
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.estimator-tooltip {
  padding-left: 10px;
}

.tooltip-prix {
  color: $gray-500;
  font-size: 40px;
}

.estimator-tooltip-content {
  position: absolute;
  z-index: 1050;
  margin-top: 15px;
  padding: 15px;
  background-color: white;
  border: solid 1px $gray-400;
  border-radius: 20px;
  box-shadow: 1px 1px 20px $gray-300;
}

#estimator-tooltip-content-text {
  font-size: 40px;
  color: $gray-700;
  padding-bottom: 10px;
  line-height: 130%;
}

#action-ne-pas {
  display: inline;
  font-size: 44px;
  color: black;
}

#estimator-content {
  margin-bottom: 100px;
}

#estimator-checker-btn {
  font-size: 48px;
}

#estimator-checker {
  position: absolute;
  right: 20px;
  bottom: 50px;
}

#action-estimator {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  border-bottom: solid 1px $gray-400;
}

#action-title-estimator {
  font-size: 58px;
  color: $pink;
  padding-bottom: 15px;
}

.description-estimator {
  color: $gray-700;
}

.selected-estimator {
  color: $blue;
  font-weight: bolder;
  border-bottom: solid 1px $blue;
}

.label-estimator {
  display: flex;
  color: $gray-700;
  font-size: 48px;
}

.result-estim {
  font-size: 40px;
  line-height: 125%;
  color: $gray-700;
}

.result-estim-value {
  font-size: 50px;
  line-height: 150%;
  color: black;
}

#result-estimator {
  padding-bottom: 20px;
}
