<div class="article-container-s">
  <h1><%= @article.title %></h1>
  <div class="article-body-s">
    <%= @article.body %>
  </div>
</div>

<div class="article-btn-edit-s">
  <% if @article.user == current_user %>
  <div><%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %></div>
  <% end %>
</div>
