<div class="navbar-main">
  <div class="navbar-main-left">
    <div class="navbar-main-logo">
      <i class="fas fa-calculator navbar-main-icon"></i>
    </div>
  </div>
  <div class="navbar-main-right">
    <div class="navbar-main-menu"></div>
    <div class="navbar-main-burger">
      <i class="fas fa-bars navbar-main-icon"></i>
    </div>
  </div>

</div>
