<h1>This is my homepage</h1>
<p>Hello there</p>
<p> <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %> </p>
<p> <%= link_to 'All My Projects', projects_path, class: 'btn btn-primary' %> </p>
