<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <div class="card">
    <h2 id="login-title">Modifier: <%= @project.name %></h2>
    <p>Modifiez les informations de base pour calculer le rendement locatif de votre bien</p>
    <%= render 'shared/project_form', project: @project %>
    <div id='new-estimator'>
      <div id="estimator-checker-button">
        <button id="estimator-checker-new-project" class="btn btn-info btn-rounded">
          Check me if you want
        </button>
      </div>
      <div id="estimator-result">
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'estimator' %>
