<div class="col-xs-12 col-lg-10 offset-lg-1 login-card">
  <div class="card">
    <h2 id="login-title">Enregistrer un nouveau Projet</h2>
    <p>Complétez les informations de base pour calculer le rendement locatif</p>

    <%= render 'shared/project_form' %>
    <div id='new-estimator'>
      <div id="estimator-checker-button">
        <button id="estimator-checker-new-project" class="btn btn-info btn-rounded">
          Vérifiez si vous voulez
        </button>
      </div>
      <div id="estimator-result" class="quick-estimator-result">
      </div>
    </div>

  </div>
</div>
<%= javascript_pack_tag 'estimator' %>
<%= javascript_pack_tag 'maps_autocomplete' %>
<%= javascript_pack_tag 'cookie_hp_est_to_new' %>

