<div class="container-fluid">
  <div>
    <p> <%= link_to 'Home', root_path, class: 'btn btn-primary btn-homepage' %> </p>
  </div>
  <div>
    <p> <%= link_to 'All', projects_path, class: 'btn btn-primary btn-homepage' %> </p>
  </div>
  <h1>Enregistre un nouveau bien</h1>
  <p>Complétez les informations de base pour calculer le rendement locatif</p>
  <div class="col-xs-8 offset-xs-2 col-sm-6 offset-sm-1">
    <%= render 'shared/project_form' %>
    <div id='new-estimator'>
      <div id="estimator-checker-button">
        <button id="estimator-checker-new-project" class="btn btn-info">
          Check me if you want
        </button>
      </div>
      <div id="estimator-result">
      </div>
    </div>
  </div>
  <%= javascript_pack_tag 'estimator' %>
</div>
