.card-project {
  position: relative;
  font-size: 32px;
  margin: 15px 0px
}

.btn-index-all {
  font-size: 48px;
  margin: 10px 0px
}

.card-all-delete-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-all-edit-icon {
  position: absolute;
  top: 15px;
  right: 75px;
}
