#estimator-checker-new-project {
  width: 400px;
  font-size: 32px;
  margin-top: 25px;
}

.clear-quick-checker {
  padding-left: 15px;
}

.quick-estimator-result {
  padding-left: 15px;
  padding-top: 30px;
}
