.footer-main {
  min-height: 75px;
  margin-top: 25px;
  color: $white;
  background-color: $indigo;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// mobile
@media (max-width: 650px) {

.footer-main {
  min-height: 50px;
}
}
