.main-menu {
  position: absolute;
  z-index: 1050;
  right: 0;
  top: 86px;
  background-color: white;
  width: 550px;
  height: 100%;
  padding: 80px 25px;
  font-size: 48px;
  box-shadow: -1px 0px 3px $gray-300;
}

.main-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-menu-content {
  flex-grow: 1;
}

// because alert push content down and too small - start
.alert {
  z-index: 1060;
  margin-bottom: 0;
  font-size: 38px;
}

.close {
  font-size: 64px;
}

// because alert push content down and too small - end

.main-menu-content-block {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: solid 1px $gray-300;
}

.main-menu-content-block a {
  text-decoration: none;
}

.main-menu-footer {
  height: 75px;
}

.menu-link-smovin {
  color: $success;
  font-weight: bolder;
}
