html,
body {
  width: 100%;
  margin: 0px;
}

html,
body,
.container-main {
  height: 100%;
  overflow: auto;
}


.container-main {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.main-content {
  flex-grow: 1;
}

// mobile
@media (max-width: 961px) {

.footer-main {
  min-height: 55px;
}
}
