#btn-login {
  min-width: 200px;
  margin-bottom: 25px;
}

.login-card {
  padding-top: 50px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 7px $gray-400;
}

#login-title {
  padding: 10px 0px;
}
